.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../images/contactbackground.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 26px;
}

.container > div {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.container > div > div {
    overflow-wrap: break-word;
    align-items: flex-start;
    width: 250px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.79);
    border-radius: 10px;
    padding: 20px 35px;
}
.container > div > div > div:first-child {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.container > div > div > div:last-child {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* padding: 0px 35px 35px 35px; */
}
.container a {
    margin-bottom: 10px;
    color: purple;
}

.container a:hover {
    color: #6B7053;
}

.container > p {
    display: none;
}

@media screen and (min-width: 1024px){
    .container {
        height: 100vh;
    }

    .container > div {
        width: 100%;
        margin-top: 100px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container > div > div {
        width: 17%;
        height: 40vh;
    }

    .container p {
        display: flex;
        font-size: 36px;
        margin-top: 100px;
        color: white;
    }
}