.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 291px;
  height: 288px;
  margin: 40px 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
}

.container:active {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 76px;
  background-color: #70c1b3;
  font-size: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
