.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container h1 {
  margin-top: 90px;
  margin-bottom: 48px;
}

.container a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .container h1 {
    font-size: 32px;
  }
  .wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
  }

  .container a,
  .container a:first-of-type,
  .container a:last-of-type {
    margin: 10px 15px 10px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container a,
  .container a:first-of-type,
  .container a:last-of-type {
    margin: 20px 30px 20px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container h1 {
    font-size: 48px;
  }
}
