.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 296px;
    width: 318px;
    position: relative;
}

.container .wrapper div {
    height: 17px;
    width: 80px;
}

.container .wrapper div:nth-child(3n-1){
    background-color: #FFE066;
}

.container .wrapper div:nth-child(3n){
    background-color: #F25F5C;
}

.container .topVector {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -28px;
    top: -27px;
    transform: rotate(46deg);
}

.container .bottomVector {
    position: absolute;
    width: 50px;
    height: 50px;
    right: -19px;
    bottom: -26px;
    transform: rotate(-119deg);
}

@media screen and (min-width: 1024px){
    .container {
        height: 100vh;
    }
}