.container {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  z-index: 99;
  width: 100%;
}
.desktop-menu {
  display: none;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  padding-right: 8px;
}

.header div {
  padding-right: 10px;
  font-size: 24px;
  color: #f25f5c;
}

.header button {
  background: transparent;
  border: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.mobile-menu div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 36px;
  margin-bottom: 20px;
}

.mobile-menu .selected {
  text-decoration: underline;
}

.mobile-menu button {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    position: absolute;
    margin: 20px;
    right: 0;
  }

  .header {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .container a {
    padding: 15px 30px;
    color: #000000;
    text-decoration: none;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin-right: 20px;
  }

  .container a:hover,
  .container .selected {
    background-color: #000000;
    color: #ffffff;
  }
}
